In [1]:
import pandas as pd
import numpy as np
import keras

Using TensorFlow backend.

# 1. Data Preparation and Cleaning

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

Check the ammount of data and the number of columns
<em>(row,columns)</em>

In [3]:
concrete_data.shape

(1030, 9)

Check if there are any missing values

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

Check if there are any null rows

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split the data into predictors and Target
For the predictors you'll have to be selective on which columns to use and which ones to leave for target

In [37]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] #All the columns except strength
predictors_columns = predictors.columns
predictors = predictors[predictors_columns[predictors_columns != 'Age']] #All the columns except age
target = concrete_data['Strength']

In [38]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [39]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

The number of columns to prepare for the first hidden layer

In [43]:
n_cols = predictors_norm.shape[1]

# 2. Train the Model

In [44]:
from keras.models import Sequential
from keras.layers import Dense

### Prepare a function used to prepare a model

The function below creates a model with two hidden layers having 50 neurons each.

In [45]:
def regression_model():
    #Create the model
    model = Sequential()
    model.add(Dense(50, activation = 'relu', input_shape = (n_cols,)))
    model.add(Dense(50, activation = 'relu'))
    model.add(Dense(1))
    #Compile the model
    model.compile(optimizer = 'adam',loss='mean_squared_error')
    return model

In [46]:
model = regression_model()

# 3. Train the Model

In [54]:
xx = model.fit(predictors_norm, target, validation_split = 0.3, epochs = 100, verbose = 2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 151.6591 - val_loss: 155.6167
Epoch 2/100
 - 0s - loss: 151.5303 - val_loss: 159.0440
Epoch 3/100
 - 0s - loss: 151.1539 - val_loss: 159.3351
Epoch 4/100
 - 0s - loss: 150.9955 - val_loss: 154.2132
Epoch 5/100
 - 0s - loss: 150.9907 - val_loss: 158.3036
Epoch 6/100
 - 0s - loss: 150.6952 - val_loss: 157.4052
Epoch 7/100
 - 0s - loss: 150.5741 - val_loss: 152.1793
Epoch 8/100
 - 0s - loss: 150.3525 - val_loss: 155.9857
Epoch 9/100
 - 0s - loss: 150.3787 - val_loss: 155.0797
Epoch 10/100
 - 0s - loss: 150.4002 - val_loss: 154.5817
Epoch 11/100
 - 0s - loss: 150.2174 - val_loss: 158.0890
Epoch 12/100
 - 0s - loss: 150.0240 - val_loss: 160.6074
Epoch 13/100
 - 0s - loss: 149.2604 - val_loss: 157.9198
Epoch 14/100
 - 0s - loss: 149.7758 - val_loss: 155.6406
Epoch 15/100
 - 0s - loss: 149.3576 - val_loss: 160.9311
Epoch 16/100
 - 0s - loss: 150.0328 - val_loss: 156.3158
Epoch 17/100
 - 0s - loss: 149.5289 - val_loss: 158.0595
Epoch 18/100
 - 0s - loss: 148.3499 - val_loss: 163.9048
Epoch 19/100
 - 0s - loss: 148.7808 - val_loss: 160.9025
Epoch 20/100
 - 0s - loss: 148.7074 - val_loss: 162.3161
Epoch 21/100
 - 0s - loss: 149.4377 - val_loss: 160.0298
Epoch 22/100
 - 0s - loss: 148.5515 - val_loss: 162.7202
Epoch 23/100
 - 0s - loss: 148.2597 - val_loss: 160.3778
Epoch 24/100
 - 0s - loss: 148.4539 - val_loss: 158.8300
Epoch 25/100
 - 0s - loss: 147.7430 - val_loss: 165.8634
Epoch 26/100
 - 0s - loss: 148.3154 - val_loss: 167.5020
Epoch 27/100
 - 0s - loss: 147.3824 - val_loss: 161.9996
Epoch 28/100
 - 0s - loss: 147.3054 - val_loss: 165.2050
Epoch 29/100
 - 0s - loss: 148.0065 - val_loss: 164.3601
Epoch 30/100
 - 0s - loss: 147.2509 - val_loss: 161.7011
Epoch 31/100
 - 0s - loss: 147.0605 - val_loss: 170.7382
Epoch 32/100
 - 0s - loss: 146.9710 - val_loss: 165.5868
Epoch 33/100
 - 0s - loss: 147.1446 - val_loss: 167.1946
Epoch 34/100
 - 0s - loss: 147.9370 - val_loss: 160.2131
Epoch 35/100
 - 0s - loss: 146.5958 - val_loss: 177.4513
Epoch 36/100
 - 0s - loss: 146.3899 - val_loss: 165.7249
Epoch 37/100
 - 0s - loss: 146.7740 - val_loss: 166.6439
Epoch 38/100
 - 0s - loss: 146.4744 - val_loss: 165.4294
Epoch 39/100
 - 0s - loss: 146.0226 - val_loss: 173.3144
Epoch 40/100
 - 0s - loss: 147.6746 - val_loss: 166.2429
Epoch 41/100
 - 0s - loss: 146.1897 - val_loss: 171.7679
Epoch 42/100
 - 0s - loss: 145.7319 - val_loss: 169.4429
Epoch 43/100
 - 0s - loss: 145.7041 - val_loss: 170.6385
Epoch 44/100
 - 0s - loss: 145.2778 - val_loss: 175.9974
Epoch 45/100
 - 0s - loss: 145.5218 - val_loss: 171.4717
Epoch 46/100
 - 0s - loss: 145.5513 - val_loss: 169.0977
Epoch 47/100
 - 0s - loss: 145.3063 - val_loss: 171.7060
Epoch 48/100
 - 0s - loss: 146.0675 - val_loss: 168.6398
Epoch 49/100
 - 0s - loss: 145.8734 - val_loss: 171.6374
Epoch 50/100
 - 0s - loss: 146.1537 - val_loss: 179.3564
Epoch 51/100
 - 0s - loss: 145.5206 - val_loss: 169.5428
Epoch 52/100
 - 0s - loss: 145.1595 - val_loss: 174.8518
Epoch 53/100
 - 0s - loss: 144.7207 - val_loss: 174.8866
Epoch 54/100
 - 0s - loss: 144.3573 - val_loss: 175.0523
Epoch 55/100
 - 0s - loss: 144.6642 - val_loss: 180.0910
Epoch 56/100
 - 0s - loss: 145.2436 - val_loss: 185.5022
Epoch 57/100
 - 0s - loss: 144.8802 - val_loss: 175.1816
Epoch 58/100
 - 0s - loss: 144.2760 - val_loss: 182.9016
Epoch 59/100
 - 0s - loss: 144.6170 - val_loss: 188.8161
Epoch 60/100
 - 0s - loss: 144.7331 - val_loss: 183.5039
Epoch 61/100
 - 0s - loss: 145.5496 - val_loss: 174.3161
Epoch 62/100
 - 0s - loss: 145.0139 - val_loss: 182.7759
Epoch 63/100
 - 0s - loss: 143.8469 - val_loss: 172.8178
Epoch 64/100
 - 0s - loss: 143.9079 - val_loss: 180.3142
Epoch 65/100
 - 0s - loss: 144.4276 - val_loss: 184.6082
Epoch 66/100
 - 0s - loss: 143.7628 - val_loss: 182.3703
Epoch 67/100
 - 0s - loss: 143.5370 - val_loss: 181.9847
Epoch 68/100
 - 0s - loss: 143.8676 - val_loss: 184.8224
Epoch 69/100
 - 0s - loss: 143.6963 - val_loss: 186.3843
Epoch 70/100
 - 0s - loss: 143.6893 - val_loss: 179.8861
Epoch 71/100
 - 0s - loss: 143.5729 - val_loss: 180.4824
Epoch 72/100
 - 0s - loss: 142.9883 - val_loss: 185.5378
Epoch 73/100
 - 0s - loss: 143.0046 - val_loss: 181.5750
Epoch 74/100
 - 0s - loss: 143.2195 - val_loss: 190.4757
Epoch 75/100
 - 0s - loss: 143.0037 - val_loss: 189.4918
Epoch 76/100
 - 0s - loss: 143.2980 - val_loss: 180.7816
Epoch 77/100
 - 0s - loss: 143.5133 - val_loss: 183.9011
Epoch 78/100
 - 0s - loss: 142.7015 - val_loss: 192.0421
Epoch 79/100
 - 0s - loss: 142.6563 - val_loss: 192.5556
Epoch 80/100
 - 0s - loss: 142.1509 - val_loss: 181.8748
Epoch 81/100
 - 0s - loss: 143.3440 - val_loss: 193.2735
Epoch 82/100
 - 0s - loss: 142.1100 - val_loss: 184.6146
Epoch 83/100
 - 0s - loss: 142.4466 - val_loss: 191.5842
Epoch 84/100
 - 0s - loss: 142.5324 - val_loss: 181.6506
Epoch 85/100
 - 0s - loss: 141.9867 - val_loss: 194.0392
Epoch 86/100
 - 0s - loss: 142.5402 - val_loss: 188.3773
Epoch 87/100
 - 0s - loss: 142.0947 - val_loss: 186.9786
Epoch 88/100
 - 0s - loss: 141.5399 - val_loss: 184.9504
Epoch 89/100
 - 0s - loss: 142.2479 - val_loss: 184.2705
Epoch 90/100
 - 0s - loss: 142.2834 - val_loss: 193.3041
Epoch 91/100
 - 0s - loss: 143.7678 - val_loss: 185.7062
Epoch 92/100
 - 0s - loss: 142.0370 - val_loss: 194.4667
Epoch 93/100
 - 0s - loss: 142.2333 - val_loss: 195.7055
Epoch 94/100
 - 0s - loss: 141.9746 - val_loss: 191.9233
Epoch 95/100
 - 0s - loss: 142.3063 - val_loss: 189.6433
Epoch 96/100
 - 0s - loss: 141.8040 - val_loss: 191.7351
Epoch 97/100
 - 0s - loss: 141.4349 - val_loss: 184.7519
Epoch 98/100
 - 0s - loss: 141.2834 - val_loss: 197.5675
Epoch 99/100
 - 0s - loss: 141.9599 - val_loss: 196.0894
Epoch 100/100
 - 0s - loss: 141.0697 - val_loss: 200.5882

In [21]:
y_pred = model.predict()

TypeError: predict() missing 1 required positional argument: 'x'

In [49]:
a = []
a.append(19)
a.append(129)

In [50]:
a

[19, 129]

In [51]:
np.mean(a)

74.0

In [52]:
np.std(a)

55.0

In [53]:
np.std?