# Concrete Compressive Strength Prediction A

## 1. Import important libraries and packages

In [17]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

### Import data

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

## Evaluate the imported data

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] #All the columns except strength
predictors_columns = predictors.columns
predictors = predictors[predictors_columns[predictors_columns != 'Age']] #All the columns except age
target = concrete_data['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

# A. Build a baseline model

## 1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [9]:
X_train,X_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.3,random_state=85)

In [10]:
column_nums = X_train.shape[1]

Use the Keras library to build a neural network with the following:

- One hidden layer of 10 nodes, and a ReLU activation function

- Use the adam optimizer and the mean squared error as the loss function.

In [11]:
def model_A():
    model = Sequential()
    model.add(Dense(10,activation='relu',input_shape = (column_nums,)))
    model.add(Dense(1))
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

## 2. Train the model on the training data using 50 epochs.

In [12]:
model = model_A()
model.fit(X_train,y_train,epochs=50,verbose=0) #Made the logg of the model development silent verbose = 0

## 3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [13]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_pred,y_test)
print("The Mean Squared Error between the predicted and actual strength is "+str(mse))

The Mean Squared Error between the predicted and actual strength is 699.1613243839363

## 4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

In [14]:
mselist = [] #created an empty list
for i in range (0,50):
    X_train,X_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.3,random_state=85)
    #Used the function model_A() to prepare the model
    model = model_A()
    print("Started training: "+str(i+1))
    model.fit(X_train,y_train,epochs=50,verbose=0)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_pred,y_test)
    print("Finished training: "+str(i+1)+"\n The MSE is: "+str(mse))
    mselist.append(mse)
print("Done")
print(mselist)

Started training: 1
Finished training: 1
 The MSE is: 192.3738387822652
Started training: 2
Finished training: 2
 The MSE is: 282.8972747068329
Started training: 3
Finished training: 3
 The MSE is: 156.01798998664114
Started training: 4
Finished training: 4
 The MSE is: 929.8183156248818
Started training: 5
Finished training: 5
 The MSE is: 159.9187713579155
Started training: 6
Finished training: 6
 The MSE is: 157.44098872258922
Started training: 7
Finished training: 7
 The MSE is: 243.89767930639286
Started training: 8
Finished training: 8
 The MSE is: 151.72620408763083
Started training: 9
Finished training: 9
 The MSE is: 153.3925284252704
Started training: 10
Finished training: 10
 The MSE is: 178.6513923169541
Started training: 11
Finished training: 11
 The MSE is: 157.27950238629347
Started training: 12
Finished training: 12
 The MSE is: 742.4473495459673
Started training: 13
Finished training: 13
 The MSE is: 176.28258499421065
Started training: 14
Finished training: 14
 The MSE is: 175.1782705614643
Started training: 15
Finished training: 15
 The MSE is: 343.4060425319145
Started training: 16
Finished training: 16
 The MSE is: 209.39785998280112
Started training: 17
Finished training: 17
 The MSE is: 295.64051331071516
Started training: 18
Finished training: 18
 The MSE is: 228.32585639013297
Started training: 19
Finished training: 19
 The MSE is: 277.2346234567481
Started training: 20
Finished training: 20
 The MSE is: 244.5959558741934
Started training: 21
Finished training: 21
 The MSE is: 218.93328782626205
Started training: 22
Finished training: 22
 The MSE is: 907.0957127456526
Started training: 23
Finished training: 23
 The MSE is: 228.8955996381474
Started training: 24
Finished training: 24
 The MSE is: 602.0573898996463
Started training: 25
Finished training: 25
 The MSE is: 879.7512346903362
Started training: 26
Finished training: 26
 The MSE is: 247.25658715690227
Started training: 27
Finished training: 27
 The MSE is: 249.13025339532308
Started training: 28
Finished training: 28
 The MSE is: 308.2561922247696
Started training: 29
Finished training: 29
 The MSE is: 209.4854967638608
Started training: 30
Finished training: 30
 The MSE is: 190.5465589404079
Started training: 31
Finished training: 31
 The MSE is: 721.1008214526852
Started training: 32
Finished training: 32
 The MSE is: 151.70776335546373
Started training: 33
Finished training: 33
 The MSE is: 309.205156329869
Started training: 34
Finished training: 34
 The MSE is: 192.97474099199127
Started training: 35
Finished training: 35
 The MSE is: 667.4880341794654
Started training: 36
Finished training: 36
 The MSE is: 227.1976355792231
Started training: 37
Finished training: 37
 The MSE is: 172.2203715004595
Started training: 38
Finished training: 38
 The MSE is: 326.62975349343833
Started training: 39
Finished training: 39
 The MSE is: 1490.920895308248
Started training: 40
Finished training: 40
 The MSE is: 152.58390432441868
Started training: 41
Finished training: 41
 The MSE is: 238.71304841960014
Started training: 42
Finished training: 42
 The MSE is: 158.99929417938077
Started training: 43
Finished training: 43
 The MSE is: 591.1478411018646
Started training: 44
Finished training: 44
 The MSE is: 168.60186125369714
Started training: 45
Finished training: 45
 The MSE is: 172.24153818665718
Started training: 46
Finished training: 46
 The MSE is: 159.55945111692287
Started training: 47
Finished training: 47
 The MSE is: 271.4533971827834
Started training: 48
Finished training: 48
 The MSE is: 223.5137649264818
Started training: 49
Finished training: 49
 The MSE is: 287.0869547887815
Started training: 50
Finished training: 50
 The MSE is: 1141.950104033552
Done
[192.3738387822652, 282.8972747068329, 156.01798998664114, 929.8183156248818, 159.9187713579155, 157.44098872258922, 243.89767930639286, 151.72620408763083, 153.3925284252704, 178.6513923169541, 157.27950238629347, 742.4473495459673, 176.28258499421065, 175.1782705614643, 343.4060425319145, 209.39785998280112, 295.64051331071516, 228.32585639013297, 277.2346234567481, 244.5959558741934, 218.93328782626205, 907.0957127456526, 228.8955996381474, 602.0573898996463, 879.7512346903362, 247.25658715690227, 249.13025339532308, 308.2561922247696, 209.4854967638608, 190.5465589404079, 721.1008214526852, 151.70776335546373, 309.205156329869, 192.97474099199127, 667.4880341794654, 227.1976355792231, 172.2203715004595, 326.62975349343833, 1490.920895308248, 152.58390432441868, 238.71304841960014, 158.99929417938077, 591.1478411018646, 168.60186125369714, 172.24153818665718, 159.55945111692287, 271.4533971827834, 223.5137649264818, 287.0869547887815, 1141.950104033552]

In [15]:
mean_of_mse = np.mean(mselist) #Compute the mean of the 50 mean squared errors
std_of_mse = np.std(mselist) #Compute the standard deviation of the 50 mean squared errors

In [16]:
print("The mean of the 50 mean squared errors is: "+str(mean_of_mse))
print("The standard deviation of the 50 mean squared errors is: "+str(std_of_mse))

The mean of the 50 mean squared errors is: 346.45256374676217
The standard deviation of the 50 mean squared errors is: 290.08208497911727